header{
    background-color: #264653;
    color: white;
}
.honda-button{
    background-color: #E76F51;
    color: white;
    border: none;
    border-radius: 5px;
}
.honda-modal a{
 text-decoration: none;
 color: black;

}
.fetured-item{
    color: #E76F51;

}
.fetured-bike{
    filter: grayscale(100%);
}
.feedback-img{
    width: 149px;

}
.license-title {

}
.honda-footer h6 a{
 text-decoration: none;
 color: white;
}
.honda-footer h5 a{
 text-decoration: none;
 color: white;
}
.footer-icon{
    border-radius: 15px;
}